@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    background: url(Images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.top {
    background-color: #A1733D;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-right: 0px;
    margin-left: 20px;
}

nav h1 {
    margin: 0;
    color: #FFEEDA;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #FFEEDA;
    text-decoration: none;
    font-weight: bold;
}
