body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
.top:hover {
    background-color: #303030;
}
footer{
    
    background-color: #000000;
}
.bottom li{
    list-style: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding: 10px;
}
.bottom a{
    text-decoration: none;
}
